@charset "UTF-8";

*{
	font-family: yu gothic;
	margin: 0;
	padding: 0;
}

body{
	background-size: auto 100vh;
	background-repeat: no-repeat;
    background-color: #FFFFFF;
	/*background-image: url("../images/FLMTours_top_html.jpg");*/
   background-size: cover;               /* 全画面 */
   background-attachment: fixed;         /* 固定 */
   background-position: center center;   /* 縦横中央 */
   background-position: right 30px;
}

#menu{
	background: linear-gradient(to bottom, #A3BEDA, #FFF);
	display: flex;
	left: 0;
	top: 0;
	height: 100px;
	padding: 20px;
	position: fixed;
	justify-content: space-between;
	width: 100%;
	z-index: 100;
	border-color: #808080;
}

#menu_left img{
    position: absolute;
    top: 5px;
    width: 80px;

}

.menu_item{
    top: 0%;
    position: absolute;
	padding-right: 10px;
	padding-left: 10px;
}




.menu_item:hover{
	background-color: #FFFFFF;
	border-radius: 10px;
}

.menu_li{
	list-style:none;
    cursor: pointer;
}

.menu_li:hover{
	list-style:none;
    background-color: #E6E3E3;
	cursor: pointer;
}

.menu_details[open]{
	background-color: #FFFFFF;
	padding: 0;
    border-radius: 10px;
	
}

#logo{
	width: 170px;
}

#menu_right{
	width: 15%;
	display: flex;
	justify-content: space-around;
}

.button{
	background-color: #FFCDCD;
	border-radius: 30px;
	border: none;
	width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
	background-color: #FF9999;
}

.button_icon{
	width: 20px;
	fill: #ffffff;
	margin-left: 10px;
}



/*  V100_top  */
#top_container{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"left right";
}

#top_title_container{
	grid-area: right;
	height: 100vh;
	position: relative;
}

#top_title{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 80%;
	height: auto;
}









/*  V201_01_shppigcart  */
#shoppingcart_container{
	display: grid;
	margin-top: 15vh;
	width: 100vw;
	height: 85vh;
	grid-template-columns: 10% 1fr 10%;
	grid-template-rows: 80px 8% 1fr 100px;
	grid-template-areas: 
		"left header right"
		"left error right"
		"left table right"
		"left button right";
}

#shoppingcart_header{
	grid-area: header;
	display: flex;
}

#header_text{
	font-size: 30px;
	margin:0 auto;
}

#error_message_area{
	grid-area: error;
	color: red;
	margin:0 auto;		
}

#shoppingcart_table_container{
	grid-area: table;
	margin:0 auto;		
	
}


.shoppingcart_table {
 width: 100%;
 min-width: 80vw;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
}

.shoppingcart_table tr:nth-child(2n+1) {
 background: #f2f2f2;
}
.shoppingcart_table tr:nth-child(2n) {
 background: #ffffff;
}
.shoppingcart_table th {
 padding: 10px;
 background: #FFCDCD;
 border-right: solid 1px #778ca3;
 color: #000000;
}
.shoppingcart_table th:last-child {
 border-right: none;
}
.shoppingcart_table td {
 padding: 10px;
 border-right: solid 1px #778ca3; 
}
.shoppingcart_table td:last-child {
 border-right: none;
}

.shoppingcart_table td:nth-of-type(3){
	text-align:right;
}
.shoppingcart_table td:nth-of-type(4){
	text-align:right;
}
.shoppingcart_table td:nth-of-type(5){
	text-align:right;
}
.shoppingcart_table td:last-child{
	text-align:right;
}

#order_confirm_button_container{
	grid-area: button;
	display: flex;
	flex-direction: row;
}

#shoppingcart_order_confirm_button{
	margin:0 auto;	
	align-items: center;
}

/* questionnaire_list */

.questionnaire_list{
	display: grid;
	margin-top: 13vh;
	width: 100vw;
	height: 90vh; 
	grid-template-columns: 20% 1fr 20%;
	grid-template-rows: 80px 8% 1fr 100px;
	grid-template-areas: 
		"left header right"
		"left error right"
		"left table right"
		"left button right";
}

.leftcontainer{
grid-area: left;
background-color: #E6E3E3;
}


.leftcontainer .topic_list{
	font-size: 20px;
	margin-top: 20px;
	padding: 3px 30% 0px 20%;
	background-color: #FFFFFF;
}

.leftcontainer .topic_list img{
	width: 20%;
}

.leftcontainer .search_box p{
	/* padding: 3% 10% 3% 10%; */
	padding-left: 10%;
}


.leftcontainer .search_box input#question{
	/* padding: 3% 10% 3% 10%; */
	padding-left: 10%;
	margin: 5% 5% 5% 5%;
	border-radius: 10px;
}


.leftcontainer .search_box input{
	margin-left:20%;
	padding: 3% 10% 3% 10%;
	border-radius: 10px;
	border: 1.0px solid #C7C7C7;
}


.questionnaire_maincontainer{
	margin-top: 5%;
	margin-left: 10%;
	display: flex;
}

.questionnaire_maincontainer button{
	border: 1px solid #C7C7C7;
	width: 250px;
	height: 300px;
	padding: 0 10px 0 10px;
	border-radius: 10%;
	margin-right: 5%;
	background-color: #B0CAE6;
}

.questionnaire_maincontainer button img{
	border-color: #C7C7C7;
	margin-bottom: 10px;
}

.questionnaire_maincontainer .administratorcard{
	border: 1px solid #C7C7C7;
	width: 250px;
	height: 300px;
	padding: 0 10px 0 10px;
	border-radius: 10%;
	margin-right: 5%;
	background-color: #E6E3E3;
	position: relative;
}

.questionnaire_maincontainer .administratorcard img{
	 width: 113%;
	 margin-top: -1px;
	 margin-left: -12px;
	 border-radius: 10px;
	
}

.questionnaire_maincontainer .administratorcard span{
	font-size: 10px;
   
}
.questionnaire_maincontainer .administratorcard .cardtitle{
	margin-top: 5px;
	font-size: 15px;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
}

.questionnaire_maincontainer .administratorcard .carddetail{
	margin-top: 3px;
	font-size: 13px;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
   
}
.questionnaire_maincontainer .administratorcard span .righticon{
	margin: 9% 1% 1% 3%;
	width: 28%;
   
}

.questionnaire_maincontainer .administratorcard span .centericon{
	margin: 9% 1% 1% 3%;
	border-left: 1px solid #C7C7C7;
	width: 28%;
   
}

 .questionnaire_maincontainer .administratorcard span .lefticon{
	margin: 9% 1% 1% 3%;
	border-left: 1px solid #C7C7C7;
	width: 28%;
   
}


.menu{
	list-style: none;
}



.questionnaire_maincontainer .administratorcard span .lefticon2{
	margin: 9% 1% 1% 3%;
	border-left: 1px solid #C7C7C7;
	width: 20%;
   
}


.menuSub {
  position: absolute;
  margin-left: -6px;
  padding: 0;
  display: none;
}

/*.openが付与された時、表示の設定*/
.menuSub.open {
  display: block;
}



  
    



/* V101 login  */
#login_container{
	display: grid;
	margin-top: 15vh;
	width: 100vw;
	height: 85vh;
	grid-template-columns:25% 1fr 25%;
	grid-template-rows: 80px 60px 200px 40px 40px  40px ;
	grid-template-areas: 
		"left header right"
		"left errorcontainer right"
		"left form right"
		"left button right"
		"left link right"
		"left error right";
}

#error_message_container{
	grid-area:errorcontainer;
	display: flex;	
	flex-direction: column;
	justify-content: center;
}

#login_header{
	grid-area:header;
	display: flex;	
}

#header_text{
	font-size: 30px;
	margin:0 auto;
}

#regimem{
	grid-area:link;
	display: flex;
	justify-content: center;
}


#login_form_container{

grid-area: form;

display: flex;

}



#login_form{
grid-area: form;
margin:0 auto;

}

#login_button{
	display: flex;
	justify-content: center;
	margin:auto;
}


#login_link_area{

grid-area: link;

display: flex;

justify-content: center;

}


#regiMemmain{
	
	text-align: center;
	
}

.regiform{
	margin:auto;
}

#regiMem_confirm_button{
	color: white;
	margin:0 auto;	
}

#regiMeminput{
  width: 100%;
  border: 2px solid #FFCDCD;
  border-radius: 30px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
 width: 450px;
 height: 30px;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.regitxt{
	font-size: 10px;
	
}

.regiMem_tr{
	text-align: left;
	
}

#show_order_master_container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

table.regiMemtable{
 border: 2px #808080 solid;
  border-collapse:collapse;
  margin: 8px 0;
  width: 400px;
}

table.regiMemtable th{
  border:1px solid #808080;
  background: #c0c0c0;
}

table.regiMemtable td{
  line-height: 30px;
  text-align: left;
  border:1px solid #808080;
  background:#ffffff;
}


/* V102 logout */
#logout_container{
	display: grid;
	margin-top: 15vh;
	width: 100vw;
	height: 85vh;
	grid-template-columns:25% 1fr 25%;
	grid-template-rows: 80px 80px 40px 40px  40px ;
	grid-template-areas: 
		"left header right"
		"left button right";
}

#header_text{
	grid-area: header;
}

#return_login_button_container{
	grid-area:button;
	display: flex;
	margin:0 auto;	
	
}


/*  V802　SearchHotel  */
/*
#search_hotel_container{
	display: grid;
	margin-top: 15vh;
	width: 100vw;
	height: 85vh;
	grid-template-columns:5% 1fr 1fr 1fr 5%;
	grid-template-rows: 80px 80px 40px 40px  1fr ;
	grid-template-areas: 
		"left header header header right"
		"left form right"
		"left button right"
		"left error right"
		"left error right";
}
*/

#search_hotel_container{
	margin-top: 15vh;
	width: 100vw;
	height: 85vh;
	}

h1{
	text-align: center;
}

#search_hotel_form_container{
	display: flex;
	justify-content: center;
}



.input_item{
	margin: 30px;
}

input{
	border-radius: 30px;
}

select{
	border-radius: 30px;
}

#item_contents_container{
	display: flex;
	justify-content: space-between;
	padding: 60px;
	white-space:nowrap;
}


.hotel_list{
	overflow-y: auto;
	height: 200px;
	background-color: white;
	border-bottom: solid black;
	border-left: solid black;
	border-right: solid black;
	border-top: solid black;
	border-width: 2px;

	top: 0;
	left: 0;
}


th{
	background-color: white;
	border-bottom: solid black;
	border-left: solid black;
	border-right: solid black;
	border-top: solid black;
	border-width: 2px;
	position: sticky;	
	top: 0;
	left: 0;
	
}


.column{
	overflow: hidden;
	text-overflow: ellipsis;
	
}

.item_table {
 width: 100%;
 min-width: 40vw;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
}

.item_detail{
	width: 100%;
 	min-width: 30vw;
 	text-align: center;
/* border-collapse: collapse;
 border-spacing: 0;*/
}

.quantity_counter{
	width: 10em;
	max-width: 100%;
	text-align: center;
}

.hotel_detail{
	display: flex;
	margin: auto;
	background-color: white;
}

.cart_button{
	display: flex;
	justify-content: center;
}

/* V201_03 orderSuc  6/23 */
#order_suc_container{
	display: grid;
	margin-top: 15vh;
	width: 100vw;
	height: 85vh;
	grid-template-columns: 10% 1fr 10%;
	grid-template-rows: 80px 100px 1fr 200px;
	grid-template-areas: 
		"left header right"
		"left orderno right"
		"left s_table right"
		"left m_table right";
}

#order_suc_header{
	grid-area: header;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header_message{
	font-size: 15px;
}

#order_no_container{
	grid-area: orderno;
	border-collapse: collapse;
 	border-spacing: 0;
}
/**/
#order_no_table {
	 width: 30vw;
     border-collapse: collapse;
     border-spacing: 0;
}

#order_no_table th {
	 width: 15vw;
	 background: #FFCDCD;
	 border-right: solid 1px #778ca3;
	 color: #000000;
}

#order_no_table td {
 border-right: solid 1px #778ca3; 
 background: #FFFFFF;
 padding-left: 30px;
}

/**/

#order_suc_shoppingcart_table_container{
	grid-area: s_table;
	display: flex;
	flex-direction: column;
}

#order_suc_member_info_table_container{
	grid-area: m_table;
	display: flex;
	flex-direction: column;
}

#order_suc_member_info_table{
	min-width: 30vw;
	max-width: 50vw;
     border-collapse: collapse;
     border-spacing: 0;
}

#order_suc_member_info_table th {
 width: 15vw;
 background: #FFCDCD;
 border-right: solid 1px #778ca3;
 color: #000000;
}

#order_suc_member_info_table td {
 border-right: solid 1px #778ca3; 
 background: #FFFFFF;
 padding-left: 30px;
} 

/*  V201_02 OrderConfirm  */
#order_confirm_container{
	display: grid;
	margin-top: 15vh;
	width: 100vw;
	height: 85vh;
	grid-template-columns: 10% 1fr 10%;
	grid-template-rows: 80px 8% 1fr 200px 100px;
	grid-template-areas: 
		"left header right"
		"left error right"
		"left s_table right"
		"left m_table right"
		"left button right";
}

#order_confirm_header{
	grid-area: header;
	display: flex;
}

#header_text{
	font-size: 30px;
	margin:0 auto;
}

#order_confirm_error_message_area{
	grid-area: error;
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
}

#order_confirm_shoppingcart_table_container{
	grid-area: s_table;
}

#member_info_table_container{
	grid-area: m_table;
	display: flex;
	flex-direction: column;
}

#member_info_table{
	min-width: 30vw;
	max-width: 50vw;
     border-collapse: collapse;
     border-spacing: 0;
}

#member_info_table th {
 width: 15vw;
 background: #FFCDCD;
 border-right: solid 1px #778ca3;
 color: #000000;
}

#member_info_table td {
 border-right: solid 1px #778ca3; 
 background: #FFFFFF;
 padding-left: 30px;
} 


#order_confirm_button_container{
	grid-area: button;
}





