@charset "UTF-8";


@charset "UTF-8";

*{
	font-family: yu gothic;
	margin: 0;
	padding: 0;
}

body{
	background-size: auto 100vh;
	background-repeat: no-repeat;
    background-color: #FFFFFF;
	/*background-image: url("../images/FLMTours_top_html.jpg");*/
   background-size: cover;               /* 全画面 */
   background-attachment: fixed;         /* 固定 */
   background-position: center center;   /* 縦横中央 */
   background-position: right 30px;
}

#menu{
	background: linear-gradient(to bottom, #A3BEDA, #FFF);
	display: flex;
	left: 0;
	top: 0;
	height: 100px;
	padding: 20px;
	position: fixed;
	justify-content: space-between;
	width: 100%;
	z-index: 100;
	border-color: #808080;
}

#menu_left img{
    position: absolute;
    top: 5px;
    width: 80px;

}

.menu_item{
    top: 0%;
    position: absolute;
	padding-right: 10px;
	padding-left: 10px;
}




.menu_item:hover{
	background-color: #FFFFFF;
	border-radius: 10px;
}

.menu_li{
	list-style:none;
    cursor: pointer;
}

.menu_li:hover{
	list-style:none;
    background-color: #E6E3E3;
	cursor: pointer;
}

.menu_details[open]{
	background-color: #FFFFFF;
	padding: 0;
    border-radius: 10px;
	
}

#logo{
	width: 170px;
}

#menu_right{
	width: 15%;
	display: flex;
	justify-content: space-around;
}

.button{
	background-color: #FFCDCD;
	border-radius: 30px;
	border: none;
	width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
	background-color: #FF9999;
}

.button_icon{
	width: 20px;
	fill: #ffffff;
	margin-left: 10px;
}



/*  V100_top  */
#top_container{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"left right";
}

#top_title_container{
	grid-area: right;
	height: 100vh;
	position: relative;
}

#top_title{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 80%;
	height: auto;
}









/*  V201_01_shppigcart  */
#shoppingcart_container{
	display: grid;
	margin-top: 15vh;
	width: 100vw;
	height: 85vh;
	grid-template-columns: 10% 1fr 10%;
	grid-template-rows: 80px 8% 1fr 100px;
	grid-template-areas: 
		"left header right"
		"left error right"
		"left table right"
		"left button right";
}

#shoppingcart_header{
	grid-area: header;
	display: flex;
}

#header_text{
	font-size: 30px;
	margin:0 auto;
}

#error_message_area{
	grid-area: error;
	color: red;
	margin:0 auto;		
}

#shoppingcart_table_container{
	grid-area: table;
	margin:0 auto;		
	
}


.shoppingcart_table {
 width: 100%;
 min-width: 80vw;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
}

.shoppingcart_table tr:nth-child(2n+1) {
 background: #f2f2f2;
}
.shoppingcart_table tr:nth-child(2n) {
 background: #ffffff;
}
.shoppingcart_table th {
 padding: 10px;
 background: #FFCDCD;
 border-right: solid 1px #778ca3;
 color: #000000;
}
.shoppingcart_table th:last-child {
 border-right: none;
}
.shoppingcart_table td {
 padding: 10px;
 border-right: solid 1px #778ca3; 
}
.shoppingcart_table td:last-child {
 border-right: none;
}

.shoppingcart_table td:nth-of-type(3){
	text-align:right;
}
.shoppingcart_table td:nth-of-type(4){
	text-align:right;
}
.shoppingcart_table td:nth-of-type(5){
	text-align:right;
}
.shoppingcart_table td:last-child{
	text-align:right;
}

#order_confirm_button_container{
	grid-area: button;
	display: flex;
	flex-direction: row;
}

#shoppingcart_order_confirm_button{
	margin:0 auto;	
	align-items: center;
}

/* questionnaire_list */

.questionnaire_list{
	display: grid;
	margin-top: 13vh;
	width: 100vw;
	height: 90vh; 
	grid-template-columns: 20% 1fr 20%;
	grid-template-rows: 100vh 8% 2fr 100px;
	grid-template-areas: 
		"left header right"
		"left error right"
		"left table right"
		"left button right";
}

.leftcontainer{
grid-area: left;
background-color: #E6E3E3;
}


.leftcontainer .topic_list{
	font-size: 15px;
	margin-top: 45px;
	margin-bottom: 20px;
	padding: 3px 30% 0px 20%;
	background-color: #FFFFFF;
}
.leftcontainer .topic_list label{
	font-size: 20px;
}

.leftcontainer .topic_list img{
	width: 20%;
}

.leftcontainer .search_box p{
	/* padding: 3% 10% 3% 10%; */
	padding-left: 10%;
}


.leftcontainer .search_box input#question{
	/* padding: 3% 10% 3% 10%; */
	padding-left: 10%;
	margin: 5% 5% 5% 5%;
	border-radius: 10px;
}


.leftcontainer .search_box input{
	margin-left:20%;
	padding: 3% 10% 3% 10%;
	border-radius: 10px;
	border: 1.0px solid #C7C7C7;
    font-weight: bold;
}

/*.maincontainer{*/
/*	position: absolute;*/
/*	display: block;*/
/*}*/

.leftcontainer .search_box label{
	font-weight: bold;
	font-size: 20px;
}

.leftcontainer .search_box input[type=checkbox] {
	transform: scale(2);
	margin: 0 6px 0 0;
}

.questionnaire_maincontainer{
	margin-top: 5%;
	margin-left: 10%;
	display: flex;
}

.questionnaire_maincontainer button{
	border: 1px solid #C7C7C7;
	width: 250px;
	height: 285px;
	padding: 0 10px 0 10px;
	border-radius: 10%;
	margin-right: 5%;
	background-color: #B0CAE6;
}

.questionnaire_maincontainer button img{
	border-color: #C7C7C7;
	margin-bottom: 10px;
}

.questionnaire_maincontainer .administratorcard{
	border: 1px solid #C7C7C7;
	width: 250px;
	height: 285px;
	padding: 0 10px 0 10px;
	border-radius: 10%;
	margin-right: 5%;
	background-color: #E6E3E3;
	position: relative;
}

.questionnaire_maincontainer .administratorcard img{
	 width: 113%;
	 margin-top: -1px;
	 margin-left: -11px;
	 border-radius: 10px;
	
}

.questionnaire_maincontainer .administratorcard span{
	font-size: 10px;
   
}
.questionnaire_maincontainer .administratorcard .cardtitle{
	margin-top: 5px;
	font-size: 15px;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
}

.questionnaire_maincontainer .administratorcard .carddetail{
	margin-top: 3px;
	font-size: 13px;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
   
}
.questionnaire_maincontainer .administratorcard span .righticon{
	margin: 9% 1% 1% 3%;
	width: 26%;
	cursor: pointer;
   
}

.questionnaire_maincontainer .administratorcard span .centericon{
	margin: 9% 1% 1% 3%;
	border-left: 1px solid #C7C7C7;
	width: 26%;
	cursor: pointer;
   
}

 .questionnaire_maincontainer .administratorcard span .lefticon{
	margin: 9% 1% 1% 3%;
	border-left: 1px solid #C7C7C7;
	width: 26%;
   cursor: pointer;
}


.questionnaire_maincontainer .respondentcard span .centericon{
	margin: 9% 1% 1% 3%;
	border-left: 1px solid #C7C7C7;
	width: 20%;
	cursor: pointer;
   
}


.questionnaire_maincontainer .respondentcard{
	border: 1px solid #C7C7C7;
	width: 250px;
	height: 285px;
	padding: 0 10px 0 10px;
	border-radius: 10%;
	margin-right: 5%;
	background-color: #E6E3E3;
	position: relative;
}

.questionnaire_maincontainer .respondentcard img{
	 width: 113%;
	 margin-top: -1px;
	 margin-left: -11px;
	 border-radius: 10px;
	
}

.questionnaire_maincontainer .respondentcard span{
	font-size: 10px;
   
}
.questionnaire_maincontainer .respondentcard .cardtitle{
	margin-top: 5px;
	font-size: 15px;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
}

.questionnaire_maincontainer .respondentcard .carddetail{
	margin-top: 3px;
	font-size: 13px;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
   
}
/*.questionnaire_maincontainer .respondentcard span .righticon{*/
/*	margin: 9% 1% 1% 3%;*/
/*	width: 26%;*/
   
/*}*/

.questionnaire_maincontainer .respondentcard span .centericon{
	margin: 9% 1% 1% 3%;
	margin-left: 33%;
/*	border-left: 1px solid #C7C7C7;*/
	width: 33%;
   
}

/* .questionnaire_maincontainer .respondentcard span .lefticon{*/
/*	margin: 9% 1% 1% 3%;*/
/*	border-left: 1px solid #C7C7C7;*/
/*	width: 26%;*/
   
/*}*/


/*.questionnaire_maincontainer .respondentcard span .centericon{*/
/*	 margin: 9% 50% 50% 3%; */
/*	 border-left: 1px solid #C7C7C7; */
/*	width: 26%;*/
/*	margin-left: 35%;*/
   
/*}*/
.questionnaire_maincontainer_bottom{
	grid-area: table;
	margin-top: 5%;
	margin-left: 10%;
	display: flex;
}

.questionnaire_maincontainer_bottom button{
	border: 1px solid #C7C7C7;
	width: 250px;
	height: 285px;
	padding: 0 10px 0 10px;
	border-radius: 10%;
	margin-right: 5%;
	background-color: #B0CAE6;
}
.item.createbutton{
	border: 1px solid #C7C7C7;
	/* width: 250px;
	height: 285px; */
	/* padding: 0 10px 0 10px; */
	border-radius: 10%;
	background-color: #B0CAE6;
}

.item.createbutton img{
    width: auto;
}

.item img{
    width: 100%;
	 border-radius: 10px;
}


.questionnaire_maincontainer_bottom button img{
	border-color: #C7C7C7;
	margin-bottom: 10px;
}

.questionnaire_maincontainer_bottom .administratorcard{
	border: 1px solid #C7C7C7;
	width: 250px;
	height: 285px;
	padding: 0 10px 0 10px;
	border-radius: 10%;
	margin-right: 5%;
	background-color: #E6E3E3;
	position: relative;
}

.questionnaire_maincontainer_bottom .administratorcard img{
	 width: 113%;
	 margin-top: -1px;
	 margin-left: -11px;
	 border-radius: 10px;
	
}

.questionnaire_maincontainer_bottom .administratorcard span{
	font-size: 10px;
   
}
.questionnaire_maincontainer_bottom .administratorcard .cardtitle{
	margin-top: 5px;
	font-size: 15px;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
}

.questionnaire_maincontainer_bottom .administratorcard .carddetail{
	margin-top: 3px;
	font-size: 13px;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
   
}
.questionnaire_maincontainer_bottom .administratorcard span .righticon{
	margin: 9% 1% 1% 3%;
	width: 26%;
	cursor: pointer;
   
}

.questionnaire_maincontainer_bottom .administratorcard span .centericon{
	margin: 9% 1% 1% 3%;
	border-left: 1px solid #C7C7C7;
	width: 26%;
	cursor: pointer;
   
}

 .questionnaire_maincontainer_bottom .administratorcard span .lefticon{
	margin: 9% 1% 1% 3%;
	border-left: 1px solid #C7C7C7;
	width: 26%;
   cursor: pointer;
}


.questionnaire_maincontainer_bottom .respondentcard span .centericon{
	margin: 9% 1% 1% 3%;
	border-left: 1px solid #C7C7C7;
	width: 20%;
	cursor: pointer;
   
}


.questionnaire_maincontainer_bottom .respondentcard{
	border: 1px solid #C7C7C7;
	width: 250px;
	height: 300px;
	padding: 0 10px 0 10px;
	border-radius: 10%;
	margin-right: 5%;
	background-color: #E6E3E3;
	position: relative;
}

.questionnaire_maincontainer_bottom .respondentcard img{
	 width: 113%;
	 margin-top: -1px;
	 margin-left: -11px;
	 border-radius: 10px;
	
}

.questionnaire_maincontainer_bottom .respondentcard span{
	font-size: 10px;
   
}
.questionnaire_maincontainer_bottom .respondentcard .cardtitle{
	margin-top: 5px;
	font-size: 15px;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
}

.questionnaire_maincontainer_bottom .respondentcard .carddetail{
	margin-top: 3px;
	font-size: 13px;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
   
}
/*.questionnaire_maincontainer .respondentcard span .righticon{*/
/*	margin: 9% 1% 1% 3%;*/
/*	width: 26%;*/
   
/*}*/

.questionnaire_maincontainer_bottom .respondentcard span .centericon{
	margin: 9% 1% 1% 3%;
	margin-left: 33%;
/*	border-left: 1px solid #C7C7C7;*/
	width: 33%;
   
}

/* .questionnaire_maincontainer .respondentcard span .lefticon{*/
/*	margin: 9% 1% 1% 3%;*/
/*	border-left: 1px solid #C7C7C7;*/
/*	width: 26%;*/
   
/*}*/


/*.questionnaire_maincontainer .respondentcard span .centericon{*/
/*	 margin: 9% 50% 50% 3%; */
/*	 border-left: 1px solid #C7C7C7; */
/*	width: 26%;*/
/*	margin-left: 35%;*/
   
/*}*/
.menu{
	position: absolute;
}



.questionnaire_maincontainer .administratorcard span .lefticon2{
	margin: 50% 0% -5% 45%;
	width: 125%;
}


.menuSub_try {
  display: none;
  /* writing-mode: horizontal-tb; */
}

/*.openが付与された時、表示の設定*/
.menuSub_try.open {
  display: block;
  list-style-type: none;
  width: 200%;
  font-weight: bold;
  background-color: #E6E3E3;
  border-radius: 5px;
  border: 1px solid #999;
  position: relative;
  z-index: 1;
}
.menuSub_try.open li:hover{
	background-color: #C7C7C7;
}


.menuSub_try.open li a{
	color: black;
	text-decoration: none;
}
    



/* 絞り込み */
/* ラジオボタンの装飾 */
.radio_input {
    display: none;
}

.radio_parts {
    padding-left: 25px;
    position: relative;
    margin-right: 20px;
}

.radio_parts::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #999;
    border-radius: 50%;
}

.radio_input:checked+.radio_parts::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0050c1;
    border-radius: 50%;
}

/* チェックボックスの装飾 */
.checkbox_input {
    display: none;
}

.checkbox_parts {
    padding-left: 25px;
    position: relative;
    margin-right: 25px;
}

.checkbox_parts::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #999;
}

.checkbox_input:checked+.checkbox_parts::after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 5px;
    width: 7px;
    height: 14px;
    transform: rotate(40deg);
    border-bottom: 3px solid #0050c1;
    border-right: 3px solid #0050c1;
}

/*他エリア*/
.wrapper {
    width: 1500px;
    margin: 30px auto;
}

h1{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 30px;
    color: #0050c1;
}

.search_area {
    /* text-align: center; */
	margin-left: 15%;
}

.search_area div {
    /* margin-bottom: 5px; */
}
.checkbox_container{
	margin-top: 5px;
	margin-bottom: 10px;
}

.search_ui.category_search_box{

	margin-left: -10%;
}


.item_container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 1.0rem;
    padding: 1.0rem;
    background: #efefef;
    /* アンケートカードの大きさを↓で調整 */
    width: calc(60% / 4);
    text-align: center;
    border-radius: 10%;
}
/*絞り込み条件外のアイテム*/
.hide_item {
    display: none;
}

.item_name{
    margin-top: 10px;
	font-size: 20px;
	text-align: center;
    font-weight: bold;
	border-bottom: 1px solid #C7C7C7;
}

.item_detail{
    margin-top: 3px;
	font-size: 17px;
	text-align: center;
	border-bottom: 1px solid #C7C7C7;
}

.icon_container{
    display: flex;
    /* padding-left: 5%;
    padding-right: 5%; */
}
.icon_container .icon{
    cursor: pointer;
    margin: 3.0%;
    width: calc(80% / 3);
}

/* .icon_container.respondent .icon {
    cursor: pointer;
    margin-left: 30%;
    width: calc(30% / 1);
} */